html {
  background-color: #fafafa;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans';
}

a {
  color: #0000ee;
}

.sidebar {
  position: fixed;
  top: 0;
  padding: 32px 32px 0;
  width: 192px;
  height: 100vh;
  border-right: solid #e1e1e1;
  background-color: #fff;
}

.author-name {
  margin: 0;
  font-size: 40px;
}

.contact-list {
  margin-top: 16px;
  padding: 0;
  list-style: none;
  white-space: auto;
}

.contact-list li {
  display: inline-block;
  margin-right: 8px;
  margin-top: 8px;
}

@media (max-width: 1088px) {
  .sidebar {
    width: 100%;
    height: fit-content;
    padding: 0 !important;
    border-bottom: solid #e1e1e1;
    border-right: none;
    background-color: #fff;
    text-align: center;
  }

  .sidebar > * {
    display: inline;
    margin-right: 16px;
    vertical-align: middle;
  }

  .author-name {
    font-size: 32px;
  }

  .contact-list {
    white-space: nowrap;
  }

  .contact-list li {
    margin-top: 0;
    display: inline-block;
  }

  .sections-wrapper {
    width: fit-content;
    margin-top: 64px !important;
    margin-left: auto !important;
    margin-right: auto !important;
  }
}

.sections-wrapper {
  margin-left: 258px;
  padding: 32px;
  width: 600px;
}

section {
  max-width: 768px;
  margin-bottom: 48px;
}

.section-header {
  margin: 0;
}

.surfing-image {
  margin-top: 16px;
  width: 100%;
}

.about-me-paragraph {
  margin-top: 16px;
  margin-bottom: 0;
  width: 100%;
  font-size: 16px;
  font-weight: 300;
}

dd {
  display: list-item;
  list-style-type: circle;
}
