html {
  background-color: #fafafa;
}
body {
  margin: 0;
  padding: 0;
}

.sidebar {
  position: fixed;
  top: 0;
  padding: 32px 16px 0;
  width: 224px;
  height: 100vh;
  border-right: solid #e1e1e1;
  background-color: #fff;
}

.author-name {
  margin: 0;
}

.headshot-image {
  margin-top: 16px;
}

.contact-icon {
  width: 32px;
}

.contact-anchor {
  margin-left: 16px;
}

section {
  margin-left: 258px;
  padding: 32px;
  max-width: 768px;
}

.section-header {
  margin: 0;
}

.about-me-paragraph {
  margin-top: 16px;
  margin-bottom: 0;
}

.credentials-header {
  width: 100%;
  border-bottom: solid 1px;
}

.date {
  float: right;
}

.projects-container {
}

.project {
  display: inline-block;
  margin-right: 16px;
  margin-top: 16px;
}
